extends _extends/layout

block headex
	title Cool5 - Socks5 Proxy's Proxy
	link(rel="stylesheet", type="text/css", href="css/style.css")
	script(src='js/main.js')

block bodyex
	h1 Cool5 Obzvr
	p
		strong start date time: 
		span= startDateTime
	strong tunnel list
	if tunnelList.length > 0
		table(border='1')
			thead
				tr
					th(rowspan='2') id
					th(rowspan='2') type
					th(rowspan='2') createDateTime
					th(colspan='3') client
					th(colspan='3') server
				tr
					th connectDateTime
					th remoteAddress
					th remotePort
					th connectDateTime
					th remoteAddress
					th remotePort
			tbody
				each tunnel in tunnelList
					tr
						td= tunnel.id
						td= tunnel.type
						td= tunnel.createDateTime
						td= !tunnel.client ? '' : tunnel.client.connectDateTime
						td= !tunnel.client ? '' : tunnel.client.remoteAddress
						td= !tunnel.client ? '' : tunnel.client.remotePort
						td= !tunnel.server ? '' : tunnel.server.connectDateTime
						td= !tunnel.server ? '' : tunnel.server.remoteAddress
						td= !tunnel.server ? '' : tunnel.server.remotePort

	else
		p tunnel list is empty
